# Raw datasets
*.csv
*.xlsx
*.xls

# Python
__pycache__/
*.pyc
*.pyo

# Databricks
.databricks/

# Jupyter
.ipynb_checkpoints/

# Environment files
.env
.env.*

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
